.about
  header
    text-align center
  section
  article
    +$above('xs')
      $grid(column)
    font-size 1.2em
    line-height 1.5em
    margin-top 4%
    padding 4em
    +$below('xs')
      padding: 20px
      font-size 1em
      line-height 1.5em
    ul
      list-style-type none
      padding-left 0
    p
    ul
      +$above('md')
        $cell-offset(3)
      +$above('sm')
        $cell(6)
