section.home
  $grid(column)
  header
    text-align center
    h1
      font-size 10rem
      margin-bottom 0em
      color $quartinary
  article
    font-size 1.2em
    line-height 1.5em
    margin-top 4%
    padding-top 4em
    +$below('xs')
      padding: 20px
      font-size 1em
      line-height 1.5em
