<section class="prose mb-12">
  <h2> About Me </h2>
  <p
    >Hi! My name is Berkeley. Ever since I was a child growing up in my father's home in Oakland, I've been fascinated by understanding how things work. At the age of 8, I vividly remember taking
    apart my toy RC car, only to struggle with putting it back together. It wasn't until later that I realized those little round components I couldn't figure out were capacitors.</p
  >

  <p
    >I may not excel in writing, as you may notice from any typos, but I thrive as an engineer. I embrace challenges as opportunities to solve technical puzzles. When a client presents me with
    requirements and desires, I approach them with a commitment to turn their vision into reality while ensuring efficiency in both time and resources.</p
  >

  <p>If you notice any errors, feel free to open a PR <a href="https://github.com/berkeleytrue/dotcom/issues/new">here</a>.</p>

  <h2 id="personal">Personal</h2>
  <h3 id="tech">Technical Background</h3>

  <p
    >With over 11 years of experience in software engineering, I've honed my skills through hands-on tinkering and formal education. From a young age, I've been drawn to understanding mechanisms,
    initially focusing on mechanical devices before transitioning to software engineering.</p
  >

  <h3 id="now">Current Focus</h3>

  <p
    >Currently, my primary focus lies in developing robust applications. Over the years, I've specialized in crafting full-stack applications using technologies such as React, Redux, and NodeJs. More
    recently, I've delved into building complex event-driven back-ends tailored for enterprise-level applications.</p
  >

  <p
    >If my experience aligns with your organization's needs and you're interested in discussing potential opportunities, please don't hesitate to reach out to me. I'm eager to explore how my skills
    can contribute to the success of your team.</p
  >

  <ul>
    <li>My <a href="https://github.com/berkeleytrue">Github</a></li>
    <li>My <a hx-boost="unset" target="_blank" href="/resume.html">Resume</a></li>
    <li>My <a href="https://linkedin.com/in/berkeleytrue">LinkedIn</a></li>
  </ul>
</section>
