<section class="prose">
  <h2>
    About Me
  </h2>
  <p
    >Hi! My name is Berkeley. I took apart my toy RC car at 8 years old and not figuring out how to put it back together. Many years later I would revisit this project to find I had pulled of this
    little round things that I couldn't figure out. Those little round things where capacitors.</p
  >

  <p
    >Anyways, I'm not much of a writer, as you may find from the many typos, but I am an engineer. I specifically say engineer because engineers solve technical puzzles, and that's what I do. A client
    comes to me with some requirements and desires, and I try to conjure the best way to make those desires reality, while keeping time and money, which is just a proxy for time, in check.</p
  >

  <p>If you see any typos or errors, feel free to open a PR <a href="https://github.com/berkeleytrue/dotcom/issues/new">here</a></p
  ><h2 id="personal">Personal</h2><h3 id="tech">Tech</h3>

  <p
    >I've been a software engineer for at least 8 years, depending on when you read this. I've been a tinkerer since I was a little child in growing up in my fathers home in Oakland. My tinkering was
    mostly around mechanical things, trying to figure out how they work and how I could make my own versions.</p
  ><h3 id="mech">Mech</h3>

  <p
    >I remember for years I wanting a go cart. My parents are pack-rats (which is just a nice way of saying there are hoarders). They would never let me get rid of stuff, because for them, everything
    had a value. But I found a hack that would get me get ride of the junk they kept bring home and to make some money, Garage Sales! My parents would let me put on garage sales, and I could keep the
    money.</p
  >

  <p
    >Why am I bringing this up? Well, cause that's how I made enough money to buy an old crappy go-cart. Man, that thing ripped! But I got curious, and wanted to learn how it worked, so I took the
    engine apart, and then put it back together. And it worked! Damn, that was cool. Can I make it faster? Can I make it louder (because the one thing that's almost universal with little kids is that
    they like to go fast and be loud doing it). I borrowed my neighbors welder, learned to weld, and build the ugliest exhaust no one's every seen since, but it made the cart go 'BRAPBRAPBRAP', and it
    was cool.</p
  >

  <p
    >In freshman year, I bought a beat up old sports car for a hundred dollars, took a autoshop class at my local community collage, and rebuilt the motor, the got to put around the hills in the east,
    And It was cool.</p
  ><h3 id="now">Now</h3>

  <p
    >I've been building Apps now for several years, and having a lot of fun doing it. Mostly full stack apps in React and Redux but lately building out complex event driven back-ends for enterprise
    applications.</p
  >
</section>
